<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Vets | Pet Clinic</title>
    <style>
        html {
            font-family: Arial,sans-serif;
        }
        .title {
            color: navy;
        }
    </style>
</head>
<body>
    <h1>Vets home</h1>
    <h3 class="title">Veterinarians list</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet: ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Manuel</td>
            <td th:text="${vet.lastName}">Silva</td>
        </tr>
        </tbody>
    </table>
</body>
</html>